<!DOCTYPE html>
<html xmlns:og="»http://ogp.me/ns#" lang="fr">
<head>

    {# <meta http-equiv="Cache-control" content="public">
																																																								<META HTTP-EQUIV="max-age" CONTENT="31536000"> #}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

    <title>
        {% block title %}
            Pixel Services Crée votre site internet
        {% endblock %}
    </title>
    <meta property="og:title" content="{% block og_title %}Pixel Services Crée votre site internet {% endblock %}"/>
    <meta property="og:type" content="{% block og_type %}article {% endblock %}"/>
    <meta property="og:url" content="{% block og_url %}{{ app.request.uri }} {% endblock %}"/>
    <meta property="og:image"
          content="{% block og_image %}https://pixelservices.be/images/logos/pixelservices.webp {% endblock %}"/>
    <meta property="og:site_name" content="{% block og_site_name %}Pixel Services {% endblock %}"/>
    <meta property="og:locale" content="{% block og_locale %}fr_BE{% endblock %}"/>
    <meta property="og:description"
          content="{% block og_description %}Réalisation de sites internet pour les indépendants, commercant et associations. Je vous aider sur vos projets actuels ou historiques. Prix abordables {% endblock %}"/>
    {% block metas %}
        <meta name="description"
              content="Réalisation de sites internet pour les indépendants, commercant et associations. Je vous aider sur vos projets actuels ou historiques. Prix abordables "/>
        <meta name="keywords" content="site web, ecommerce, vitrine, site vitrine, wp, wordpress, wix"/>
    {% endblock %}
    <meta name="author" content="Novitz Jean-Philippe <novitz@gmail.com>"/>

    <meta name="copyright" content="Novitz Jean-Philippe / Pixel Services"/>
    <meta name="robots" content="index,follow"/>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {# {% block javascripts %}
																																																							{{ encore_entry_script_tags('app') }}
																																																						{% endblock %} #}
</head>
<body class="bg-slate-50 min-h-screen  text-lg">
<div class="w-full p-3  md:max-w-3xl md:p-12  lg:max-w-7xl align-self-center min-h-full m-auto">
    {% if app.request.get('_route') == 'app_home' %}
    <div class="isolate bg-hero-mobile md:bg-hero-md bg-cover">
        {% endif %}
        {% include '_partials/_navbar.html.twig' %}
        {% for message in app.flashes('success') %}
            <div class="w-full bg-green-800 text-green-50 p-6">
                {{ message|trans }}
            </div>
        {% endfor %}
        {# <div class="isolate px-6 pt-6 lg:px-8"> #}
        {% if app.request.get('_route') == 'app_home' %}
        {% include '_partials/_home_cta.html.twig' %}
    </div>
    {% endif %}
    <div class="w-full p-3  md:max-w-3xl md:p-12  lg:max-w-7xl align-self-center">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</div>
</body>
</html>

